
div {
  padding: 10px 30px;
}

i {
  padding-right: 10px;
}

button {
  margin-top: 10px;
}

.highlighted {
  color: rgb(34, 101, 202);
}

.inactive {
  color: #ccc;
}

.active {
  color: deeppink;
}
