.content {
  padding: 10px 30px;
}

i {
  font-size: 20px;
}

.fa.fa-star {
  color: gray;
}

.fa.fa-star-active{
  color: yellow;
}

.fa.fa-heart{
  color: gray;
}

.fa.fa-heart-active{
  color: deeppink;
}
